{% extends 'dashboard.html.twig' %}

{% block content %}
    <h1>Liste de vos commandes</h1>

    {% if orders is empty %}
        <p>Vous n'avez passé aucune commande.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Référence</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>{{ order.createdAt|date('Y-m-d H:i') }}</td>
                        <td>{{ order.total }} €</td>
                        <td>
                            <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a> 
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation" style="margin-top: 20px">
            {{ knp_pagination_render(orders) }}
        </div>
    {% endif %}
{% endblock %}
